<html>
    <head>
        {{> head}}
    </head>
    <body>
        <div id="container" class="main">
            {{{ body }}}
        </div>
        <script src="{{ scriptPath }}"></script>
    </body>
</html>