<html>
    <head>
        {{> head}}
    </head>
    <body>
        <div id="container">
            {{{ body }}}
        </div>
        <script src="/public/scripts/site.js"></script>
    </body>
</html>